* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.taskdo-header .website-logo {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px; /* icon և տեքստի միջակայք */
  background: linear-gradient(to right, #ffb347, #ffcc33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
