.task-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  padding-bottom: 150px; /* space for input */
}

.centered-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.12);
  margin-bottom: 10px;
  padding: 12px 16px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  color: white;
}

.task-text {
  flex: 1;
}

.edit-button {
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 3px;
}

.edit-button:hover {
  color: #ffb347;
}

.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.edit-modal {
  background: #1e1e1e;
  color: white;
  padding: 12px;
  border-radius: 8px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.edit-modal input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.edit-buttons {
  display: flex;
  gap: 4px;
}

.edit-buttons button {
  flex: 1;
  padding: 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
  color: #ffb347;
  font-size: 1.3rem;
  transition: color 0.2s ease;
}

.close-icon:hover {
  color: #ffd86f;
}

.saveEdit {
  background-color: green;
}

.saveEdit:hover {
  background-color: darkgreen;
}

.cancelEdit {
  background-color: red;
}

.cancelEdit:hover {
  background-color: darkred;
}

.undoEdit {
  background-color: blue;
}

.undoEdit:hover {
  background-color: darkblue;
}

.redoEdit {
  background-color: blue;
}

.redoEdit:hover {
  background-color: darkblue;
}

/* Cancel Icon */
.task-cancel-icon {
  width: 37px;
  height: 37px;
  padding: 8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.2s ease;
}

.task-cancel-icon:hover {
  background-color: darkred;
}

/* Restore Icon */

.task-restore-icon {
  width: 37px;
  height: 37px;
  padding: 8px;
  background-color: blue;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.2s ease;
}

.task-restore-icon:hover {
  background-color: darkblue;
}

/* Done Icon */
.task-done-icon {
  width: 37px;
  height: 37px;
  padding: 8px;
  background-color: green;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.2s ease;
}

.task-done-icon:hover {
  background-color: darkgreen;
}
